* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a,
button,
h1,
h2,
h3,
h4 {
  color: rgb(40, 40, 40);
}

body {
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 20%;
  min-height: 8vh;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav,
a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.nav-links a,
.nav-links button {
  margin-left: 2rem;
  cursor: pointer;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.buy-button {
  padding: 0.2rem 2rem;
  font-size: 0.8rem;
  background: #3057f5d9;
  color: #fff;
  border: none;
  border-radius: 1rem;
}

/* First Page */
.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 10rem;
}

.first-page-title {
  font-size: 1.6rem;
}

.first-page-subtitle {
  font-size: 3rem;
}

.intro-video {
  position: absolute;
  bottom: -6rem;
}

/* Second Page */
.second-page {
  min-height: 125vh;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.smoke-video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}

.second-text {
  padding: 5% 20%;
  position: relative;
  z-index: 2;
  font-size: 3rem;
  font-weight: bold;
}

/* Third Page Phone Split */
.third-page {
  position: relative;
  padding: 0% 20%;
}

.product-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

.phone-size {
  font-size: 2rem;
  font-weight: bold;
}

.pro-size {
  text-align: right;
}

.max-size {
  text-align: left;
}

.product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-phone {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
}

.small-phone {
  position: relative;
  transform: translateX(-40%) scale(0.8);
  z-index: 2;
}

.retina-line {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Forth Page Slider*/
.forth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.purchase-left {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: white;
}

.phone-gallery {
  display: flex;
  align-self: flex-start;
}

.phone-gallery img {
  transform: scale(0.8) translateY(2rem);
}

.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatch-container {
  text-align: center;
  transform: translateY(-2rem);
}

.swatch-container span {
  font-size: 1rem;
}

.swatches img {
  padding: 0.6rem 0.3rem;
  cursor: pointer;
}

/* Purchase Right */
.purchase-right {
  flex: 1;
  position: relative;
  background: black;
}

.purchase-right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%) scale(0.6);
  transform-origin: bottom;
}

/* Fifth Page */
.fifth-page {
  min-height: 100vh;
}

.product-video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.product-info-container {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0% 10rem;
}

.right-info,
.left-info {
  width: 20%;
}

.left-info h3,
.right-info h3 {
  padding: 3rem 0;
  color: rgb(193, 193, 193);
}

.left-info span,
.right-info span {
  font-size: 1.5rem;
  color: rgb(210, 210, 210);
}

.blue {
  z-index: 1;
}

/* Sixth Page  */
.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.portrait {
  height: 70vh;
}

.photo-title {
  font-size: 2rem;
}

.photo-subtitle {
  font-size: 3rem;
}

.phone-video {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 2;
  transform: translate(-50%, 0%);
}

.phone-video img,
.phone-video video {
  position: absolute;
}

.phone-video img {
  z-index: 2;
  left: 0;
  bottom: 0;
  transform: scale(0.7);
}

.phone-video video {
  left: 1rem;
  bottom: 1rem;
  transform: scale(0.72);
  border-radius: 2rem;
}
